.config/nvim/plugin
.config/nvim/colors
.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/nvim/lua/.luarc.json
.config/zsh/.zsh_secrets
.config/zsh/.z_secrets
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history

# For compdumps in .config/zsh
.zcompdump*