.config/nvim/plugin
.config/nvim/colors
.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/nvim/lua/.luarc.json
.config/zsh/.zsh_sessions
.config/zsh/.zsh_history
.config/zsh/.zcompcache
.config/alacritty/colors.toml

# For compdumps in .config/zsh
.zcompdump*