
[user]
    name = Jamy Golden
    email = jamy@jamygolden.com

[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
    ignorecase = false
    pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[alias]
    ; scripts - use `main`, otherwise use `master`
    rho = "!f() { if [ -n \"$(git branch | grep main)\" ]; then git checkout main && git fetch && git reset --hard origin/main; else git checkout master && git fetch && git reset --hard origin/master; fi }; f"
    sync = "!f() { if [ -n \"$(git branch | grep main)\" ]; then git rho && git co - && git rebase main; else git rho && git co - && git rebase master; fi }; f"
    as = "!f() { if [ -n \"$(git branch | grep main)\" ]; then git rebase -i --autosquash main; else git rebase -i --autosquash master; fi }; f"

    ; public - standard
    co = checkout
    commit-pop = reset HEAD~
    undo = reset --soft 'HEAD@{1}'
    st = status -s
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    br = branch
    amend = commit --amend
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    fix = commit --fixup
    pfwl = push --force-with-lease origin HEAD
    ra = rebase --abort
    rc = rebase --continue
    sp = stash pop
