[submodule "secrets"]
	path = secrets
	url = git@github.com:JamyGolden/dotfiles-secret.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-vi-mode"]
	path = .config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git